.container {
    display: flex;
    justify-content: center;
}

.calc-container {
    width: 456px;
    height: 598px;
}

.action-style {
    width: 75%;
    font-size: 45px;
    padding: 10px;
    background: #ffffff;
}
